

.App {
  background-color: rgb(36, 66, 57);
  font-family: sans-serif;
  text-align: center;
  display:flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-wrap:wrap;
  a,h3{
    color:white;
  }
  .drum{
    width:60%;
   margin-bottom: 0;
    display: flex;
    background-color: rgb(2, 70, 82);
    height: auto;
    height:auto;
    flex-wrap: wrap;
    .title{
      
      width:100%;
      padding:0 20px;
      display: inline-flex;
      justify-content: flex-end;
      color:rgb(113, 158, 166);
      
    }
    .keys{
      padding:20px;
      width:60%;
      height:auto;
      display: flex;
      flex-wrap:wrap;
      justify-content: space-between;
      align-items: center;
      .key{
        width:31%;
        margin-bottom: 10px;
        background-color: rgb(113, 158, 166);
        height:100px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        span{
          font-size: 1.3rem;
          color:rgb(2, 70, 82);
        }
        
        &:hover{
          background-color:rgb(247, 209, 20);
        }
        &:active{
          background-color:rgb(247, 209, 20);
        }
      }
    }
    .controls{
      width:30%;
      display:flex;
      flex-direction:column;
      justify-content: space-evenly;
      align-items: center;
      .power{
        width:100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        .power-title{
          font-size: 1.5rem;
          color:rgb(113, 158, 166);
          font-weight: bolder;
        }
        .power-control{
          margin-top: 10px;
          width:40%;
          display: inline-flex;
          background-color: black;
          padding:3px;
          span{
            cursor: pointer;
            width:50%;
            height:30px;
            transition:ease-in-out 0.5s;
          }
        }
      }
      .display{
        background-color: rgb(113, 158, 166);
        width:100%;
        height:50px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        span{
          color:rgb(247, 209, 20);
          font-weight:bold;
          font-size:1.5rem;
          transition: ease-in-out 0.4s;
        }
      }
      .volume{
        cursor: pointer;
        display:inline-flex;
        color:rgb(113, 158, 166);
        justify-content: space-between;
      }
    }
  } 
  .byme{
    width:100%;
  }
  
}

@media(max-width:750px){
  .App{
    background-color: rgb(2, 70, 82);
    justify-content: flex-start;
    align-items: flex-start;
  .byme{
    margin-top:0;
    padding:0;
    h3{
      margin:0;
      padding:0;
    }
  }
  .drum{
    margin:0;
    width:100%;
    flex-direction: column-reverse; 
    padding:0 40px;
    padding-top:20px;
    .title{
      width:50%;
      
    }
    .keys{
      width:100%;
      
    }
    .controls{
      width:100%;
      .display{
        background: none;
      }
     .power{
       margin-bottom: 30px;
       width:100%;
       .power-control{
         width:100%;
       
      }
     }
     .display{
       justify-content:flex-start;
       align-items: flex-start;
       width:100%;
       border:2px solid grren;
       span{
         text-align: left;
         width:100%;
       }
     }
     .volume{
       width:100%;
       justify-content:flex-start;
       
     }
    } 
  }

.byme{
  width:100%;
}

  }
}
